{{extend 'layout.html'}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

<form action="get_notes">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Authors
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <div class="w2p_fw">
          {{=author_select[0]}}
          </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Works
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          <div class="w2p_fw">
          {{=work_select[0]}}
          </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
          Tags
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          <div class="w2p_fw">
          {{=tags_select[0]}}
          </div>
          <div class="w2p_fw">
          {{=tags_x_select[0]}}
          </div>
      </div>
    </div>
  </div>
</div>

<input type="checkbox" name="with_comments" value='true' id="with_comments">Only show notes with comments</input>
<br />
<input type="checkbox" name="with_excerpt" value='true' id="with_excerpt">Only show notes with an excerpt</input>
<br />
<br />
<button id='form_submit' type='submit'>Find notes</button>

</form>

        </div> <!--col-md-4-->

        <div id='list_frame' class="col-md-8">
        </div>

    </div> <!--row-->
</div> <!--container-fluid-->

<style>
select {width: 100%;}
table {width: 100%;}
.tag-counts {width: 100%;}
</style>

<script type="text/javascript">

$(document).on('click', '#form_submit', function(event){
    ajax('/topoi/reporting/get_notes', ['author', 'work', 'tags', 'with_comments',
                                        'with_excerpt', 'tags_excluded'], 'list_frame');
    event.preventDefault();
});

</script>
